*.mps
*.ilp
*.lp
*.cls
*.gz
*.bst
*.synctex
*.nfs*
*.a
*~
\#*\#
*.out
*.csv
*.log
*.aux
*.cb
*.nav
*.snm
*.toc
*.cb2
*.blg
*.fdb_latexmk
*.fls
*.tar.gz
*.o
*.bbl
*.vtc
*__pycache__*
*.vscode
*.pyc
.idea\
*.lof
*.lot
.DS_Store
src/.DS_Store
src/myenv/
.venv/
archive/
src/.DS_Store
myenv/